.main-slider {
  max-width: 1920px;
  margin: 0 auto;

  &__item {
    position: relative;
  }

  &__button-block {
    width: 21.82%;
    margin: auto;
    position: absolute;
    height: 100%;
    max-height: 100%;
    z-index: 2;
    transition: opacity .2s linear;
    opacity: 1;

    @media (max-width: $screen-xs-max) {
      width: 55.58%;
      top: 59%;
      left: 0;
      right: 0;
      margin: auto;
      height: 40%;
    }

    &_join {

      @media (min-width: $screen-xs-max) {
        top: 0;
        right: 68%;
      }
    }

    &_vote {
      @media (min-width: $screen-xs-max) {
        bottom: 0;
        right: 47%;
      }
    }

    &_buy {
      @media (min-width: $screen-xs-max) {
        top:0;
        bottom: 0;
        left: 30.75%;
      }
    }
  }

  &__img {
    position: relative;
    z-index: 1;
  }

 &__button {
    display: block;
    position: absolute;
    width: 71%;
    transform: rotate(45deg);
    padding-top: 71%;
    left: 0;
    right: 0;
    margin: auto;

    &_join {

      @media (min-width: $screen-xs-max) {
        top: 30%;
      }
    }

    &_vote {
      @media (min-width: $screen-xs-max) {
        bottom: 12%;
      }
    }

    &_buy {
      @media (min-width: $screen-xs-max) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    @media (max-width: $screen-xs-max) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

.owl-carousel &__button-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    box-shadow: 1px 0 35px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;

    &:hover + .main-slider__button-text {
      color: #d2ab95;
    }
  }
  &__button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 4;
    font-size:50px;
  	text-transform:uppercase;
  	line-height:1.2;
  	font-family: 'MinionPro-Bold';
  	color: #fff;
    text-align: center;

    &:hover {
    	color: #d2ab95;
    }

    @media (max-width: 1700px) {
      font-size:30px;
      font-size: 2.6vw;
    }

    @media (max-width: $screen-sm-max) {
      font-size:25px;
      font-size: 2.7vw;
    }

    @media (max-width: $screen-xs-max) {
      font-size:50px;
      font-size: 8vw;
    }

    &_vote {
      @media (max-width: $screen-xs-max) {
        font-size:40px;
        font-size: 6.9vw;
      }
    }
  }

  .invisible {
    opacity: 0;

  }
}
.owl-item img.main-slider__img-sm {
  position: absolute;
  max-width: 17.19%;
  bottom: 0;
  left: 0;
  object-fit: contain;
  width: auto;
  z-index: 4;
}
